<aside class="profile-card">
  <header>
    <!-- here’s the avatar -->
    

    <h2>
      Welcome To
    </h2>

    <!-- the username -->
    <h1>
            Patient Cost Reduction System
          </h1>

    <!-- and role or location -->
    

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>
      It will help you analyse the health of the patient and understand the future possible health risks and health expenditure amount. This system also recommends the best cost optimal medicines for the existing health conditions considering your health care insurance coverages.
    </p>

  </div>

</aside>