<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
  *ngIf="patient_data"
>
  <mat-card fxFlex="25">
    <h4>Patient Details</h4>
    <p>Name: {{ patient_data.Name }}</p>
    <p>Age: {{ patient_data.Age }} Years</p>
    <p>Sex: {{ patient_data.Sex }}</p>
  </mat-card>
  <mat-card fxFlex="25">
    <h4>Average Health Stats</h4>
    <p>Calculated over 20 days</p>
    <p>Heart Rate: {{ patient_data.Heart_Rate }} bpm</p>
    <p>Blood Pressure: {{ patient_data.Blood_Pressure }}</p>
  </mat-card>
  <mat-card fxFlex="25">
    <h4>Risk Percentage</h4>
    <p>{{ patient_data.Risk }}%</p>
    <h4>Predicted Insurance Amount</h4>
    <p>USD {{ patient_data.Insurance }}</p>
  </mat-card>
  <mat-card fxFlex="25">
    <h4>Actual Medicine Cost</h4>
    <p>USD {{ patient_data.Medicine_Cost }}</p>
    <h4>Reduced Amount Percentage</h4>
    <p>{{ patient_data.Reduce_amount }} %</p>
  </mat-card>
</div>
<br />
<mat-divider></mat-divider>
<br />
<mat-card>
  <h4>Current Conditions</h4>
  <div class="simple-tags">
    <ul>
      <li
        style="background-color: #f0b27a"
        *ngFor="let condition of patient_data.Current_Conditions"
      >
        {{ condition }}
      </li>
    </ul>
  </div>
  <!-- <h4>Allergies</h4>
  <div class="simple-tags">
    <ul>
      <li
        style="background-color: #f4d03f"
        *ngFor="let allergy of patient_data.Allergies"
      >
        {{ allergy }}
      </li>
    </ul>
  </div> -->
  <h4>Current Medications</h4>
  <div class="simple-tags">
    <ul>
      <li *ngFor="let medication of patient_data.Current_Medications">
        {{ medication }}
      </li>
    </ul>
  </div>
</mat-card>

<br />
<mat-divider></mat-divider>
<br />

<mat-card>
  <h4>Suggestions</h4>
  <div>
    <ul>
      <li *ngFor="let disease of patient_data.Suggestions | keyvalue">
        {{ disease.key }}

        <div class="simple-tags">
          <ul>
            <li
              style="background-color: #9aa1aa"
              *ngFor="let medicine of disease.value"
            >
              {{ medicine }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</mat-card>
<br />
<mat-divider></mat-divider>
<br />
<mat-card>
  <h4>Careplan</h4>
  <div class="simple-tags">
    <ul>
      <li
        style="background-color: #34495e"
        *ngFor="let careplan of patient_data.Care_plan"
      >
        {{ careplan }}
      </li>
    </ul>
  </div>
</mat-card>

<br />
<br />

<mat-divider></mat-divider>

<br />
<br />
