<div *ngIf="!patient_data" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="patient_data">
  <div fxLayout="row" fxLayoutAlign = "space-between center">

  <div fxLayout="column" >
    <div class="ch3">Patient ID : {{ patient_id }}</div>
    <div fxLayout="row" fxLayoutAlign=" end">
      <div class="ch1">{{ patient_data.Name }}</div>
      <div class="ch2">
        {{ patient_data.Sex }} , {{ patient_data.Age }} years old.
      </div>
    </div>
  </div>
  <div class="heartbeat" >
    <div fxLayout="column" fxLayoutAlign="space-between">
      Average Heart Rate : {{patient_data.Heart_Rate}} 
      <br>
      Average Blood Pressure : {{patient_data.Blood_Pressure}}
      <p>Computed over 20 days.</p>
    </div>
  </div>

</div>
  
  <br />
  <mat-divider></mat-divider>
  <br />

  <div
    class="intro"
    fxLayout="row"
    fxLayoutAlign="left center"
    fxLayoutGap="50px"
  >
    <div>
      <circle-progress
        [percent]="patient_data.Risk"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#2B5878'"
        [innerStrokeColor]="'#484476'"
        [animation]="true"
        [animationDuration]="650"
        [unitsFontSize]="40"
        [titleFontSize]="40"
        [subtitleFontSize]="35"
        [subtitle]="'RISK'"
        [animateSubtitle]="true"
      ></circle-progress>
    </div>

    <div class="content">
      <div
        class="block x1"
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
      >
        <div class="amount">${{ patient_data.Insurance }}</div>
        <p>Predicted Healthcare Expenses</p>
      </div>
      <div class="block x2" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div
            class="innerPrice"
            fxLayout="column"
            fxLayoutAlign="space-evenly center"
          >
            <div class="amount">${{ patient_data.Medicine_Cost }}</div>
            <p>Actual Medicine Cost</p>
          </div>
          <p>---></p>
          <div
            class="innerPrice"
            fxLayout="column"
            fxLayoutAlign="space-evenly center"
          >
            <div class="amount">
              ${{ patient_data.Predicted_Medicine_Cost }}
            </div>
            <p>Predicted Medicine Cost</p>
          </div>
        </div>

        <div class="tagline" fxLayoutAlign="center">
          <p>
            Medicine Cost reduced by <b>{{ patient_data.Reduce_amount }}%</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <app-widget-area
      [data]="{
        plots: patient_data.Heart_Plot,
        name: 'Heart Rate'
      }"
    ></app-widget-area>

    <app-widget-area
      [data]="{
        plots: patient_data.Diastolic_Plot,
        name: 'Blood Pressure (Diastolic)'
      }"
    ></app-widget-area>
    <app-widget-area
      [data]="{
        plots: patient_data.Systolic_Plot,
        name: 'Blood Pressure (Systolic)'
      }"
    ></app-widget-area>

    <app-widget-area
      [data]="{
        plots: patient_data.Glucose_Plot,
        name: 'Glucose Level'
      }"
    ></app-widget-area>
    <app-widget-area
      [data]="{
        plots: patient_data.Cholestrol_Plot,
        name: 'Cholestrol Level'
      }"
    ></app-widget-area>

    <app-widget-area
      [data]="{
        plots: patient_data.BMI_Plot,
        name: 'Body Mass Index'
      }"
    ></app-widget-area>
  </div>

  <br />
  <mat-divider></mat-divider>
  <br />

  
  <div fxLayout="row" fxLayoutAlign="space-around start" >
    <div class="rc2" fxLayout="column" fxLayoutAlign="space-between center" >
        
      <mat-card class="myCard" >
        <h4>Current Conditions</h4>
        <div class="simple-tags">
          <ul>
            <li
              style="background-color: #f0b27a"
              *ngFor="let condition of patient_data.Current_Conditions"
            >
              {{ condition }}
            </li>
          </ul>
        </div>
        <!-- <h4>Allergies</h4>
      <div class="simple-tags">
        <ul>
          <li
            style="background-color: #f4d03f"
            *ngFor="let allergy of patient_data.Allergies"
          >
            {{ allergy }}
          </li>
        </ul>
      </div> -->
        <h4>Current Medications</h4>
        <div class="simple-tags">
          <ul>
            <li *ngFor="let medication of patient_data.Current_Medications">
              {{ medication }}
            </li>
          </ul>
        </div>
      </mat-card>
      <mat-card class="myCard">
        <h4>Careplan</h4>
        <div class="simple-tags">
          <ul>
            <li
              style="background-color: #34495e"
              *ngFor="let careplan of patient_data.Care_plan"
            >
              {{ careplan }}
            </li>
          </ul>
        </div>
      </mat-card>
    
      </div>
        <div class="rc2" fxLayout="column" fxLayoutAlign="space-between center" >
          <mat-card class="myCard">
            <h4>Suggested Medicines</h4>
            <div>
              <ul>
                <li *ngFor="let disease of patient_data.Suggestions | keyvalue">
                  {{ disease.key }}
        
                  <div class="simple-tags">
                    <ul>
                      <li
                        style="background-color: #9aa1aa"
                        *ngFor="let medicine of disease.value"
                      >
                        {{ medicine }}
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </mat-card>

          <mat-card class="myCard" >
            <h4>Suggested Pharmacy Store</h4>
            <div>
              <p>
                Using this store - <b><i> {{patient_data.Vendor}} </i> </b>, patient can get medicines at discounted rates. 
              </p>
            </div>
          </mat-card>
          
              

  
        </div>
        


  </div>

  



  <br />
  <mat-divider></mat-divider>
  <br />

</div>
