<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Dr. James Moore</h2>
      <h4>jamesmoore@optum.com</h4>
    </div>
    <img
      src="https://static.thenounproject.com/png/23420-200.png"
      alt="Doctor"
    />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Patients</h2>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    class="patient_id"
    *ngFor="let id of patient_list"
    [routerLink]="['/patient/', id]"
    >#{{ id }}</a
  >
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/stats">
    <mat-icon>import_contacts</mat-icon>
    Statistics
  </a>

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->
</mat-nav-list>
